.movie-card-container {
    padding-bottom: 10px;
    margin-bottom: 20px;
    min-height: 300px;
}

.movie-card-img-container img {
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.movie-card-text-container {
    padding: 0 20px;
    margin-top: 10px;
}

.movie-card-text-container h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
}

.movie-card-text-year {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
}

.movie-card-text-subtitle {
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
}